<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Category page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="text-center p-1">All Category CRUD Operations.</h1>
      <div class="text-end px-1  mb-2 mx-2">
        <a class="btn btn-dark" href="/dashboard/add_category" role="button"
          >Add A Category</a
        >
        <a class="btn btn-success" href="/dashboard" role="button"
          >GO to Dashboard</a
        >
      </div>
      <hr />
      <table class="table table-success table-striped">
        <thead>
          <tr>
            <th scope="col">Category Id</th>
            <th scope="col">Category Name</th>
            <th scope="col">Category Discount</th>
            <th scope="col">Category Image</th>
            <th scope="col" class="text-center">Actions</th>
          </tr>
        </thead>
        {% for category in categories %}
        <tbody>
          <tr>
            <th scope="row">{{category.id}}</th>
            <td>{{category.name}}</td>
            <td>{{category.discount}}</td>
            <td>{{category.imageURL}}</td>
            <td>
              <a href="/dashboard/update_category/{{category.id}}">
                <button class="btn btn-primary">Update</button>
              </a>
              <a href="/dashboard/delete_category/{{category.id}}">
                <button class="btn btn-danger">Delete</button>
              </a>
            </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
